<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create a post</title>
</head>
<body>
    <form method="post" action="/posts">
        <p">Create a new post</p>
        <input placeholder="enter username" name="username"/><br><br>
    <textarea placeholder="enter your content" name="content"></textarea><br><br>
    <button>submit</button>
    </form>
    
</body>
</html>